{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <hr>
            <h2 class="logo-font mb-4">Delivery Information</h2>
            <hr>
            <p>Next Day Delivery - Royal Mail:</p>
            <ul>
                <li>Next working day</li>
                <li>Deliveries made Monday - Saturday (excl. Bank Holidays)</li>
                <li>Fully tracked service</li>
                <li>Signature required</li>
                <li>Orders placed before 4pm Mon-Fri dispatched same day</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}