{% extends "base.html" %}
{% load static %}

{% block content %}

<section>
    <div class="container home-container">
        <div class="home-heading">
            <h2>Shop Disposables - <span>Over 100 flavours available</span></h2>
        </div>
    </div>
</section>

<section class="home-prod-section">

    <!-- Products Section -->
    <div class="container py-5">
        <div class="row">
            {% for product in products %}
            <div class="home-prod col-md-6 col-lg-4 mb-4 mb-md-0">
                <div class="card">
                    <div class="d-flex justify-content-between p-3">
                        <p class="lead mb-0">{{ product.name }}</p>
                    </div>
                    {% if product.image %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                    {% endif %}
                    <div class="card-body">

                        <div class="d-flex justify-content-between mb-3">
                            <h5 class="mb-0">Brand</h5>
                            <h5 class="text-dark mb-0">{{ product.brand }}</h5>
                        </div>

                        <div class="d-flex justify-content-between mb-3">
                            <h5 class="mb-0">Price</h5>
                            <h5 class="text-dark mb-0">£{{ product.price }}</h5>
                        </div>

                        <div class="d-flex justify-content-between mb-2">
                            <p class="text-muted mb-0">Rating <span class="fw-bold">5</span></p>
                            <div class="ms-auto text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                        <div class="btn btn-prod-black border-black">
                            <a href="{% url 'product_detail' product.id %}" class="stretched-link">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="home-prod col-md-6 col-lg-4 mb-4 mb-md-0">
                <div class="card h-100">
                    <a href="{% url 'products' %}?filter=category&category=disposable_vape" class="stretched-link"></a>
                    <div class="card-body">
                        <div class="d-flex center">
                            <div class="btn btn-prod-black">
                                <a href="{% url 'products' %}?filter=category&category=disposable_vape" class=""></a>
                                <span class="text-uppercase">Shop
                                    All Disposables
                                    <span class="icon">
                                        <i class="fas fa-chevron-right"></i>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}