html {
    height: 100%;
}

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.btn-black {
    background: black;
    color: white;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.carousel-inner {
    padding-top: 10px;
}

.carousel-caption {
    margin: 5%;
}

.carousel-inner > .carousel-item > img {
    width: 640px;
    height: 360px;
}