<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="vape-equipment-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Vape Equipment
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="vape-equipment-link">
                <a href="{% url 'products' %}?filter=category&category=mod" class="dropdown-item">Mods</a>
                <a href="{% url 'products' %}?filter=category&category=tank" class="dropdown-item">Tanks</a>
                <a href="{% url 'products' %}?filter=category&category=coil" class="dropdown-item">Coils</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="disposable-vapes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Disposable Vapes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="disposable-vapes-link">
                <a href="{% url 'products' %}?filter=category&category=disposable_vape" class="dropdown-item">All Disposables</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="liquids-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Liquids
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="liquids-link">
                <a href="{% url 'products' %}?filter=category&category=liquid_shortfill" class="dropdown-item">Shortfill Liquids</a>
                <a href="{% url 'products' %}?filter=category&category=liquid_10ml" class="dropdown-item">10ml Liquids</a>
                <a href="{% url 'products' %}?filter=category&category=liquid_nic_salts" class="dropdown-item">Nicotine Salts</a>
            </div>
        </li>
    </ul>
</div>